.todo-item {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: antiquewhite;
  margin: 10px;
  border-radius: 10px;
}
/* .inner-container {
  background-color: white;
} */
.delete-btn {
  background-color: white;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.title {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .delete-btn {
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    margin-left: 32px;
  }
}
