.container {
  background-color: #ffc2a0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.inner-container {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .inner-container {
    padding: 48px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ff8542;
  text-align: center;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}
.todos-list {
  padding-left: 0px;
}
